@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&family=Space+Grotesk:wght@400;500;600&display=swap');

:root {
    --color-body: #bec8d0;
    --color-heading: #f2f2e6;
    --color-base: #2c333c;
    --color-base2: #171b20;
    --color-brand: #f5ba17;
    --color-brand2: #eb8c0e;
    --sidbar-width: 240px;
    --font-base: "Space Grotesk";
}

body {
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-heading);
    font-weight: 700;
}

.spaced-span {
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand);
}

img {
    width: 100%;
}

.text-brand {
    color: var(--color-brand);
}

.bg-base {
    background-color: var(--color-base);
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255,255,255, 0.1);
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -6px 6px 0 0 var(--color-brand);
}

.iconbox {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--color-brand);
    color: var(--color-base);
}

/* NAVBAR */
.navbar {
    background-color: var(--color-base);
}

.navbar .nav-link {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-heading);
}

.navbar .nav-link:hover {
    color: var(--color-brand);
}

.navbar .nav-link.active {
    color: var(--color-brand);
}

.navbar .navbar-toggler {
    margin-left: auto;
}

/* .navbar .navbar-collapse {
    display: none;
}

.navbar:hover .navbar-collapse {
    display: block;
} */

.navbar-brand {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-heading);
}

@media (min-width: 992px) {
    .navbar {
        /* min-height: 100vh; */
        /* width: var(--sidbar-width); */
        /* background: linear-gradient(rgba(44, 51, 60, 0.8), rgba(44, 51, 60, 0.8)), url(../images/sidebar-img.jpg); */
        background-size: cover;
        background-position: center;
    }

    /* CONTENT WRAPPER */
    /* #content-wrapper {
        padding-left: var(--sidbar-width);
    } */
}

/* BTN */
.btn {
    padding: 12px 28px;
    font-weight: 700;
}

.btn-brand {
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-base);
}

.btn-brand:hover,
.btn-brand:focus {
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-brand2);
}

.link-custom {
    font-weight: 700;
    position: absolute;
    margin: 12px 0;
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after {
    width: 100%;
}

/* CARD */
.card-custom .card-custom-image {
    overflow: hidden;
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.1);
}

/* CONTACT */
#contact .form-control {
    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-body);
    margin: 1px 1px;
    padding: 6px 12px;
}

#contact .form-control:focus {
    border-color: var(--color-brand);
    box-shadow: none;
}

#contact .form-control::placeholder {
    color: var(--color-body);
}

#contact .input_custom {
    height: 44px;
}

#contact .errors {
    color: var(--color-brand2);
    margin: 1px 1px;
    padding: 6px 12px;
}

/* MODAL */
.modal-content {
    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-body);
    margin: 1px 1px;
}

.modal-content:focus {
    border-color: var(--color-brand);
    box-shadow: none;
}

/* SOCIAL ICONS */
.social-icons {

}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base);
    border-radius: 100px;
    font-size: 24px;
}